body {
  text-align: center;
  background-color: #E7EBF1;
  font-family: Arial;  
}

  
h1 {
  text-align: center;
  font-size: 3em;
  color: #003366;
  margin-bottom: .3em;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #003366;
  margin-bottom: .3em;
}

h3 {
  text-align: center;
  font-size: 1em;
  color: #1D3354;
  margin-bottom: .3em;


}

h5 {
  text-align: center;
  font-size: 1em;
  color: #1D3354;
  margin-bottom: .3em;


}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003366;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
li {
  float: left;
}

li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #C1D1DB;}

  
form {
    position:center;
    display: inline-block;
    margin-top:50px;
    margin-bottom:50px;
}

.borderexample {
 border-style:solid;
 border-color:#287EC7;
}

.searchresult{
  background-color:#D0D8E3;
  margin: auto;
  width: 75%;
  border: 3px solid black;
  padding: 10px;
  margin-top:20px;
}

table tr:nth-child(odd) td{
           background:#E7EBF1;
           text-align:left;
           font-size: 16px;
}
table tr:nth-child(even) td{
            background:#fff;
            text-align:left;
            font-size: 16px;
}

